html {
  &,
  body {
    margin: 0;
    height: 100%;
  }
  min-height: 100%;

  body {
    #root {
      height: inherit;
    }

    .link-highlight {
      color: rgb(68, 236, 124);
      font-weight: 700;
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      background-color: #ffffff56;
      padding: 0.3rem 0.6rem;
      border-radius: 0.2rem;
      -webkit-border-radius: 0.2rem;
      -moz-border-radius: 0.2rem;
      -ms-border-radius: 0.2rem;
      -o-border-radius: 0.2rem;
    }
  }
}
